{
  "$schema": "https://swc.rs/schema.json",
  "exclude": "node_modules/",
  "jsc": {
    "target": "es2024",
    "parser": {
      "syntax": "typescript"
    },
    "loose": false
  },
  "module": {
    "outFileExtension": "mjs",
    "type": "nodenext",
    "resolveFully": true
  }
}